__pycache__/
*.py[cod]
*.pyo

logs/
logs_*/
runs/
output/
outputs/
server_logs/
checkpoints/
*.pth
*.pt
*.ckpt
*_nohup.log
*.pid
events.out.tfevents*
train_log.txt

*.zip
*.rar
*.tar
*.tar.gz
*.7z

.DS_Store
Thumbs.db
